backup:
  image: titeya/dockerbackup
  environment:
    MYSQL_HOST: ${MYSQL_HOST}
    MYSQL_PORT: ${MYSQL_PORT}
    MYSQL_USER: ${MYSQL_USER}
    MYSQL_PASS: ${MYSQL_PASS}
    MONGODB_HOST: ${MONGODB_HOST}
    MONGODB_PORT: ${MONGODB_PORT}
    MONGODB_USER: ${MONGODB_USER}
    MONGODB_PASS: ${MONGODB_PASS}
    FTP_HOST: ${FTP_HOST}
    FTP_PORT: ${FTP_PORT}
    FTP_USER: ${FTP_USER}
    FTP_PASS: ${FTP_PASS}
    FTP_DIRECTORY: ${FTP_DIRECTORY}
    CRON_TIME: ${CRON_TIME}
    MAX_BACKUPS: ${MAX_BACKUPS}
    INIT_BACKUP: ${INIT_BACKUP}
  external_links:
    - galera/galera-lb:mysql
    - MongoDB/mongo-cluster:mongo
  volumes:
    - /exports:/exports
    - /var/run/docker.sock:/tmp/docker.sock:ro
  tty: true
  stdin_open: true
  labels:
    io.rancher.container.pull_image: "always"
    io.rancher.scheduler.global: "true"
    io.rancher.scheduler.affinity:host_label: "nfs=server"
